presentation/.packages
presentation/.idea
presentation/.vscode
presentation/ios/
presentation/android/
presentation/build/
*.iml
pubspec.lock

Podfile
Podfile.lock
Pods/

**/Flutter/Debug.xcconfig
**/Flutter/Release.xcconfig
**/Flutter/Runner.xcodeproj/
**/Flutter/Runner.xcworkspace/

presentation/lib/@services/imdb/imdb.dart
