presentation/.packages
presentation/.idea
presentation/.vscode
presentation/ios/
presentation/android/
presentation/build/
*.iml
pubspec.lock

Podfile
Podfile.lock
Pods/

presentation/ios/Flutter/Debug.xcconfig
presentation/ios/Flutter/Release.xcconfig
presentation/ios/Runner.xcodeproj/
presentation/ios/Runner.xcworkspace/

presentation/lib/@services/imdb/imdb.dart
